
body, div, span, p, a, img, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object {
    border: 0 none;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font: 80% "Segoe UI",Sans-Serif;
    margin: 0 auto;
    /*max-width: 950px;*/
    padding: 0;
}
a {
    color: #3865C6;
}
a.new-window {
    background: url("images/external.png") no-repeat scroll right center transparent;
    padding: 0 13px 0 0;
}
p {
    line-height: 130%;
    margin: 15px 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS";
    font-weight: bold;
    margin: 15px 0 10px;
}
h1 {
    font-size: 17pt;
    font-weight: bold;
    margin: 35px 0 10px;
}
h2 {
    font-size: 16pt;
}
h3 {
    font-size: 14pt;
}
h4 {
    font-size: 12pt;
}
h5 {
    font-size: 11pt;
}
header {
    font-weight: bold;
    overflow: hidden;
    padding: 3px;
    width: 100%;
    margin: 0 40px 0 30px;
}
header a.logo {
    display: block;
    float: left;
    height: 80px;
    margin-left: 0;
    text-decoration: none;
}
header > div {
    float: right;
}
header nav {
    font-family: "Trebuchet MS";
    overflow: hidden;
    text-align: right;
    width: 100%;
}
header nav ul {
    display: inline;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: block;
    float: left;
    font-size: 12pt;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 0;
}
header nav ul li a {
    display: block;
    padding: 3px 10px;
    text-align: center;
    text-decoration: underline;
}
header nav ul li a:hover, header nav ul li.active a:hover {
    text-decoration: underline;
}
header div.search {
    float: right;
    padding-top: 10px;
}
.intro {
    -moz-background-inline-policy: continuous;
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin: 40px 15px 0;
    padding: 10px 15px;
    width: 200px;
}
.intro h1 {
    font-size: 14pt;
    margin: 0;
}
.intro p {
    font-weight: bold;
    margin: 10px 0;
}
.post-list {
    float: left;
    margin-bottom: 20px;
    width: 680px;
}
.post-line {
    border-bottom: 1px dotted #999999;
    color: #777777;
    display: block;
    min-height: 70px;
    overflow: hidden;
    padding-bottom: 7px;
    padding-top: 7px;
    width: 100%;
}
.post-line .revised {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-family: "Trebuchet MS",Sans-Serif;
    font-weight: bold;
    height: 50px;
    margin: 5px;
    padding: 2px;
    text-align: center;
    width: 76px;
}
.post-line .revised div{
    margin-top:5px;
}

.post-line .comments {
    background: none repeat scroll 0 0 #E4E4E4;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    float: left;
    font-family: "Trebuchet MS",Sans-Serif;
    height: 50px;
    margin: 5px;
    padding: 2px;
    text-align: center;
    width: 76px;
}
.post-line .comments .comment-count {
    display: block;
    font-size: 14pt;
}
.post-line .comments div {
    margin-top:4px;
}
.post-line .comments a {
    color: #555555;
    font-size: 12px;
    text-decoration: none;
}
.post-list .post-line h2 {
    border-bottom: 0 none;
    margin: 5px 0 2px;
    padding: 0;
}
.post-line h2 a {
    color: #555555;
}
.post-line .summary {
    margin-left: 185px;
}
.post-line p {
    color: #999999;
    margin: 0;
}
.body {
    clear: both;
}
.content {
    min-height: 400px;
    z-index: 10;
}
.content h1 a, .content h2 a {
    text-decoration: none;
}
.comments {
    margin-top: 30px;
}
.comments-in {
}
.comment {
    margin: 0;
    padding: 10px 0;
}
.comment .comment-date {
    float: right;
    font-weight: bold;
    margin: 0 5px 5px;
}
.comment .comment-body {
    margin-left: 90px;
    margin-top: 5px;
}
.comment .comment-body p {
    margin-bottom: 17px;
    margin-top: 0;
}
.comment .comment-author {
    background: none repeat scroll 0 0 #E4E4E4;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    float: left;
    font-weight: bold;
    margin-top: 0;
    padding: 20px 2px;
    text-align: center;
    width: 76px;
}
.comment .comment-author .fn {
    border: medium none;
    color: #555555;
    font-size: 13px;
}
.form-body {
    margin-top: 20px;
    max-width: 700px;
}
.form-body .editor-label {
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-top: 6px;
    width: 120px;
}
.form-body .editor-field {
    margin-bottom: 10px;
    margin-left: 140px;
    min-height: 30px;
}
.form-body span.hint {
    color: #666666;
    display: block;
    font-family: Segoe UI;
}
.form-body textarea {
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: top;
}
.form-body .notification-wait {
    color: #000000;
    font-weight: bold;
}
.form-body h3 {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 30px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}
thead td, thead td.firstcolumn {
    background: none repeat scroll 0 0 #E6E8E9;
    font-weight: bold;
}
th {
    font-weight: bold;
    text-align: center;
}
th, td {
    border: 1px solid #D1D1D1;
    padding: 3px 20px 3px 7px;
}
td.numeric {
    padding-left: 20px;
    text-align: right;
}
td.date {
    padding-left: 20px;
    text-align: right;
}
td.firstcolumn {
    background: none repeat scroll 0 0 #F5F5F5;
    text-align: left;
}
.table {
    margin: 15px 0;
}
.table div {
    clear: both;
    color: #0489B7;
    font-size: 120%;
    font-style: italic;
    padding-top: 5px;
    text-align: left;
}
dl {
    margin: 15px 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 30px;
}
input, textarea {
    background: none repeat scroll 0 0 #EAECED;
    border: 1px solid #CFCFCF;
    font-family: Consolas;
    font-size: 100%;
    padding: 4px;
    width: auto;
}
textarea {
    width: 500px;
}
input:focus, textarea:focus {
    background: none repeat scroll 0 0 #EAECED;
    border: 1px solid #8F8F8F;
    font-size: 100%;
    padding: 4px;
}
input.small {
    width: 50px;
}
input.medium {
    width: 200px;
}
input.large {
    width: 300px;
}
#wmd-preview {
    background-color: #E0EAF1;
    border: 2px dotted #FFFFFF;
    clear: both;
    margin-top: 14px;
    padding: 3px 3px 3px 15px;
}
.vcard {
    background: none repeat scroll 0 0 #E8E9EC;
    border: 1px solid #D1D1D1;
    padding: 10px;
    width: 400px;
}
.vcard .fn {
    border-bottom: 1px solid #888888;
    font-size: 160%;
    font-weight: normal;
    margin: 0 0 2px;
    padding: 0 0 2px;
}
.vcard .vcard-in {
    background: url("images/hCard.png") no-repeat scroll right top transparent;
    padding-left: 90px;
}
.vcard ul, .vcard ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.vcard ul span, .vcard ul a {
    font-weight: bold;
}
.vcard ul label {
    display: inline-block;
    font-weight: normal;
    text-align: left;
    width: 60px;
}
.entry .vcard img.photo {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    float: left;
    margin: 3px;
    padding: 3px;
    vertical-align: middle;
}
abbr, acronym, .help {
    border-bottom: 1px dotted #CCCCCC;
    cursor: help;
}
blockquote {
    font-style: italic;
    margin: 15px 20px;
}
del, .del {
    text-decoration: line-through;
}
strong, .strong {
    font-weight: bold;
}
cite, em, q, var {
    font-style: italic;
}
code, kbd, samp, pre {
    font-size: 11pt;
}
code, kbd, samp {
    border: 0 none;
    color: Navy;
    font-family: "Consolas";
}
pre {
    font-family: Consolas;
    margin: 10px 0;
    max-height: 500px;
    overflow: auto;
    padding: 7px 12px;
    width: auto;
}
pre code {
    font-family: Consolas;
    font-weight: normal;
}
.entry h1 {
    font-size: 17pt;
}
.entry h2 {
    font-size: 17pt;
}
.entry h3 {
    font-size: 15pt;
}
.entry h4 {
    font-size: 14pt;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
    border: 0 none;
}
.entry {
}
.entry img {
    margin-left: 30px;
}
.entry-date {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-family: "Trebuchet MS",Sans-Serif;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 80px;
}
.entry-date .month {
    font-size: 14pt;
}
.entry-date .year {
    font-size: 11pt;
}
.entry-tools {
    color: #555555;
    font-weight: bold;
    padding: 5px;
}
.entry-container {
    margin-left: 90px;
}
.entry-tools span {
    margin: 0;
    padding: 0;
}
.entry-tools a, .entry-tools a:active, entry-tools a:visited, .entry-tools a:hover {
    color: #444444;
    margin-right: 10px;
}
.message {
    font-weight: bold;
}
p.good {
    color: green;
    font-weight: bold;
}
p.bad {
    color: #CC0000;
    font-weight: bold;
}
p.warning {
    color: orange;
    font-weight: bold;
}
p.important {
    color: black;
    font-weight: bold;
}
li.log-error {
    color: #CC0000;
    font-weight: bold;
}
li.log-warning {
    color: orange;
    font-weight: bold;
}
li.log-information {
    color: black;
    font-weight: bold;
}
.trackbacks, .trackbacks a {
    color: #777777;
}
.trackbacks h2 {
    border: 0 none;
    color: #777777;
    font-size: 10pt;
    font-weight: bold;
}
.search-list .search-line {
    margin: 15px 0;
    width: 600px;
}
.search-list .search-line h2 {
    border: 0 none;
    font-family: Segoe UI;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.search-list .search-line p {
    margin: 0;
    padding: 0;
}
.search-list .search-line .revised {
    color: green;
}
.search-input {
    color: #999999;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search-input label {
    margin-right: 20px;
}
.search p {
    margin: 0;
    padding: 0;
}
.search input#search:disabled {
    color: grey;
}


.paginator {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 1px solid #EEEEEE;
    clear: both;
    color: #999999;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 5px 10px;
    text-align: center;
}
.paginator .page {
    margin: 0 3px;
}
span.close {
    background: none repeat scroll 0 0 lightpink;
    color: maroon;
    font-weight: bold;
}
.counter {
    background: none repeat scroll 0 0 #F0F0F0;
    color: green;
    margin-left: 3px;
    padding: 3px;
    text-align: center;
    width: 40px;
}
footer {
    border-top: 1px solid #F0F0F0;
    clear: both;
    color: #898989;
    line-height: 23px;
    margin: 10px 0 30px;
    text-align: center;
}
footer a {
    color: #797979;
}
footer a:hover {
    color: #3865C6;
}
.noscreen {
    display: none;
}
.validation-summary-errors {
    background: none repeat scroll 0 0 #FFEEF2;
    border: 1px solid #CC3954;
    padding: 4px 10px;
}
.validation-summary-errors span {
    color: #CC3954;
    font-weight: bold;
}
.validation-summary-errors ul li {
    list-style-type: none;
}
.field-validation-error {
    color: #CC3954;
    display: block;
    font-weight: bold;
}
.admin-link {
    padding: 10px 0;
}
.admin-link h3 {
    font-size: 12pt;
    margin: 0;
    padding: 0;
}
.admin-link p {
    margin: 0;
    padding: 0;
}

blockquote {
    border-left: 2px dotted #888;
    padding-left: 5px;
    background: #d0f0ff;
}

.str {
    color: #008800;
}
.kwd {
    color: #00008B;
}
.com {
    color: #880000;
}
.typ {
    color: #2B91AF;
}
.lit {
    color: #006666;
}
.pun {
    color: #000000;
}
.pln {
    color: #000000;
}
.tag {
    color: #000088;
}
.atn {
    color: #660066;
}
.atv {
    color: #008800;
}
.dec {
    color: #660066;
}
pre.prettyprint {
    font-family: Consolas;
    font-size: 11pt;
}
.str {
    color: #006600;
}
.kwd {
    color: #000066;
    font-weight: bold;
}
.com {
    color: #660000;
    font-style: italic;
}
.typ {
    color: #440044;
    font-weight: bold;
}
.lit {
    color: #004444;
}
.pun {
    color: #444400;
}
.pln {
    color: #000000;
}
.tag {
    color: #000066;
    font-weight: bold;
}
.atn {
    color: #440044;
}
.atv {
    color: #006600;
}
.boxes {
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box4 {
    float: left;
    margin-right: 20px;
    width: 217px;
}
.box4 img, .box2 img, .box3 img {
    margin: 0;
    padding: 0;
}
.box2 {
    float: left;
    margin-right: 20px;
    width: 455px;
}
.box3 {
    float: left;
    margin-right: 20px;
}
a.tag {
    color: #CCCCCC;
    padding: 1px 5px 1px 0;
}
#tags li {
    list-style: none outside none;
}
#tags input[type="text"] {
    outline: medium none;
}
#tags .field {
    clear: left;
    height: auto;
    margin: 0 0 10px 50px;
    position: relative;
    width: auto;
    z-index: 100;
}
#tags label {
    color: black;
    display: block;
    font-size: 100%;
    font-weight: bold;
    margin: 3px 0 0 -46px;
    position: absolute;
    text-align: right;
    width: 3.2em;
}
#tags input#tagInput {
    background: none repeat scroll 0 0 white;
    border: 1px solid white !important;
    height: 15px;
    padding: 0 !important;
    width: 100%;
}
#tags .tagLines {
    background: none repeat scroll 0 0 white;
    border: 1px solid #B9C1CA;
    overflow: hidden;
    padding: 2px 5px 0;
    width: 332px;
}
#tags .tagInputContainer {
    left: 12px;
}
#tags .tagLines li.newTagInputWrapper {
    background: none repeat scroll 0 0 white;
    display: block;
    float: left;
    height: 17px;
    margin: 0 0 2px;
    padding: 0;
    width: 100px;
}
#tags .tagLines li.newTagInputWrapper input {
    background: none repeat scroll 0 0 white !important;
    border: medium none !important;
    padding: 1px !important;
    position: static !important;
}
#tags .tagLines li.newTagItem {
    background: none repeat scroll 0 0 white;
    border-right: 6px solid white;
    float: left;
    height: 17px;
    margin: 0 0 2px;
    padding: 0;
    position: relative;
}
#tags #tagsField .tagLines li.newTagItem a {
    background: none repeat scroll 0 0 gainsboro;
    border: 1px solid gainsboro;
}
#tags .tagLines li.newTagItem a {
    background: none repeat scroll 0 0 #E8F1F7;
    border: 1px solid #E8F1F7;
    color: black;
    cursor: pointer;
    display: block;
    height: 15px;
    padding: 0 15px 0 5px;
    position: relative;
}
#tags a {
    color: #1462C1;
    text-decoration: none;
}
#tags .tagLines li.newTagItem span {
    background: url("images/del_sprite_tagComplete.png") no-repeat scroll 0 0 transparent;
    height: 11px;
    position: absolute;
    right: 2px;
    top: 3px;
    width: 11px;
}
.flash {
    clear: both;
}
.clear {
    clear: both;
    height: 0;
    margin: 0;
    width: 0;
}

/*****iOS Slider settings*****/
.fluidHeight {
    position: relative;
    width: 100%;
    height: 790px;
}
@media screen and (max-width: 1023px) {

    .fluidHeight {
        height: 0;
        padding: 0 0 33.333% 0;
    }

}

.sliderContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iosSlider {
    width: 100%;
    height: 100%;
    background: #aaa;
}

.iosSlider .slider {
    width: 100%;
    height: 100%;
}

/*.iosSlider .slider .item {*/
/*background-size: cover;*/
/*}*/

.iosSlider .slider .item {
    position: relative;
    top: 0;
    left: 0;

    max-width: 1024px;
    width: 100%;
    height: 100%;
}


.iosSlider .slider .item img {
    position: relative;
    top: 0;
    left: 0;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.iosSlider .slider .item .caption {
    position: relative;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 1px;
    text-align: center;
    /*display: none;*/
}

.iosSlider .slider .item .caption .bg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    max-width: 1024px;
    width: 100%;
    margin: -20px auto;

    background: transparent;
    /*opacity: 0.5;*/
    /*filter: alpha(opacity:50);*/
    z-index: 10;
}

.iosSlider .slider .item .caption span {
    font: normal 11px/15px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    text-shadow: 0 -1px 0 #333;

    position: relative;
    top: 20px;
    left: 0;
    z-index: 100;
}

.iosSliderButtons {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -675px;
    width: 1350px;
    height: 60px;
    z-index: 1000;
    opacity: 0.7;
    filter: alpha(opacity:70);
    border-radius: 8px;
}

.iosSliderButtons .button {
    float: left;
    margin: 0 0 0 0;
    width: 90px;
    height: 60px;
    opacity: 0.7;
    filter: alpha(opacity:70);
    border-radius: 8px;
}

.iosSliderButtons .button .border {
    border: 5px solid #000;
    border-radius: 8px;
    opacity: 0.7;
    filter: alpha(opacity:70);
    width: 80px;
    height: 50px;
}

.iosSliderButtons .first {
    margin-left: 0;
}

.iosSliderButtons .selected,
.iosSliderButtons .selected .border,
.iosSliderButtons .button:hover {
    opacity: 1;
    filter: alpha(opacity:100);
    border-color: #000000;
}

.folder-container{
    position: fixed;
    bottom: 0;
    z-index:100;
    height: 96px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.folder-container .border{
    border: none #696969;
    border-top: 4px solid;
    border-bottom: 4px solid; display: inline-block; opacity: 0.7;
}
.folder-container .border.selected{
    opacity: 1;
}

.folder-container .selected .folder{
    border-color:white;
}
.folder-container .folder{
    border-top: 4px dashed;
    border-bottom: 4px dashed;
    border-left: 2px solid;
    border-color: #696969;
    text-align: center;
    width:100px;height: 64px;
}

.folder-date{
    margin-top: 20px;
    font: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    color: grey;
}

.folder-title{
    font-weight: lighter;
    font-size: small;
    color: grey;
}

.selected .folder-date{
    margin-top: 20px;
    font: "Segoe UI", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #000000;
}

.selected .folder-title{
    color: black;
}

/********Code Editor********/
.CodeMirror
{
    border: 1px solid grey;
    background-color: #F0F0F0;
}

