<div class="body">
    <div id="mainbar-full">
        <div class="subheader">
            <h1>Page Not Found</h1>
        </div>
        <div class="content-page leftcol">
            <p>We couldn't find the page you requested. We did, however, find this program.</p>
            <ul>
                <li>
                    Try <a href="/#!/search">searching for similar posts</a>
                </li>
            </ul>
            <p>If you feel something is missing that should be here, <a href="/#!/contact">contact us</a>.</p>
        </div>
        <div class="rightcol">
            <img src="//cdn.sstatic.net/stackoverflow/img/polyglot-404.png" width="500" alt="page not found">
        </div>
    </div>
</div>