<div class="flash" cnk-flash flash-content="" ng-show="flash">
        <p></p>
    </div>
<div class="body">
    <div class="intro">
           <div class="intro-in">

                <p>{{resource.welcomeMessage}}</p>

            </div>
    </div>
    <div class="content">
        <h1>{{r('recentposts')}}</h1>
        <div class="post-list">
            <div class="post-line " ng-repeat="post in posts">
                <div class="revised">
                    <div>
                    <span class="month" >{{post.month}} {{post.day}}</span>
                    <span class="year">{{post.year}}</span>
                    </div>
                </div>
                <div class="comments">
                    <div>
                    <a href="/#/{{post.urlLink}}#comments" ng-disabled="post.comments.length == 0">
                        <span ng-if="post.comments.length >= 1" class="comment-count">{{post.comments.length}}</span>
                        <span ng-if="post.comments.length == 0">&nbsp;&nbsp;no&nbsp;&nbsp;</span>
                        <span ng-if="post.comments.length > 1">comments</span>
                        <span ng-if="post.comments.length <= 1">comment</span>
                    </a>
                    </div>
                </div>
                <div class="summary">
                    <h2><a ng-href="/#/{{post.urlLink}}" >{{post.topic}}</a></h2>
                    <p></p><p>{{post.summary}}</p>
                    <p></p>
                     <span class="tags">
                 </span>
                </div>
            </div>
         </div>
        <div class="clear">
        </div>
    </div>
</div>