<div class="content">
    <h1>
        Login</h1>

    <p class="good">
        To administer this site, log in using the form below.
    </p>

    <form>
        <div class="form-body">
            <div class="editor-label">
                <label for="Username">Username</label>
            </div>
            <div class="editor-field">
                <input class="medium" id="Username" maxlength="100" name="Username" type="text" ng-model="uname"
                       required>
            </div>
            <div class="editor-label">
                <label for="Password">Password</label>
            </div>
            <div class="editor-field">
                <input class="medium" id="Password" maxlength="100" required name="Password" ng-model="pwd"
                       type="password">
            </div>
            <div class="editor-label">
            </div>
            <div class="editor-field">
                <input type="button" id="submit" class="submit" value="Submit" ng-click="login(uname, pwd)">
            </div>
        </div>

    </form>
</div>