<div class="body">
    <div class="intro" id="_summary">
        <div class="intro-in">

            <p>
                A team of ninjas have scoured the land, looking for the results to your query.
            </p>

        </div>
    </div>
    <div class="content">

        <h1>Search Results: single</h1>


        <div class="search-input">
            <form action="/search" method="get" novalidate="novalidate"><label for="q">Search again:</label> <input
                    class="large" id="q" name="q" type="text" value="single"> <input type="submit" id="research"
                                                                                     class="submit" value="Search">
            </form>
        </div>

        <div class="search-list">
            <div class="search-line">
                <h2><a href="http://localhost/javascript-singleton">Singleton with JavaScript</a></h2>

                <p>Singleton is one of the most widely used design patterns in any programming languages.)</p>

                <div class="revised">
                    <span class="month">Apr 26</span>
                    <span class="year">2013</span>
                </div>
            </div>
            <div class="search-line">
                <h2><a href="http://localhost/aop-with-javascript">Aspect Oriented Programming with JavaScript</a></h2>

                <p>Aspect Oriented Programming has always been an interesting topic for me. With JavaScript it is not
                    that obvious.)</p>

                <div class="revised">
                    <span class="month">Apr 17</span>
                    <span class="year">2013</span>
                </div>
            </div>
            <div class="search-line">
                <h2><a href="http://localhost/mef-reflection-dynamic-method-invocation">MEF(Managed Extensibility
                    Framework) with Reflection to invoke methods dynamically</a></h2>

                <p>Using reflection to invoke method in instance object from abstract base class dynamically when only
                    generic interface was known)</p>

                <div class="revised">
                    <span class="month">Sep 1</span>
                    <span class="year">2012</span>
                </div>
            </div>
        </div>

    </div>
</div>