<div id="home" class="pt-page-current col-md-12">
   <!-- Home Page -->

   <!-- Slider -->
   <div class="main_slider cycle-slideshow">
      <div class="overlay">
         <div class="name">
            Jeff Jin
         </div>
         <div class="description">

            <!-- Description Rotator -->
            <div class="rotate">
               Solution Architect, Full Stack Web Developer, Android / iOS Mobile Developer
            </div>
            <div class="rotate">
               Principle Consultant at eWorkspace Solutions Inc.
            </div>
            <!-- /Description Rotator -->

         </div>
      </div>
      <img src="img/slider_1.jpg" alt="img" />
      <img src="img/slider_2.jpg" alt="img" />
      <img src="img/slider_3.jpg" alt="img" />
   </div>
   <!-- /Slider -->

   <div class="resume_btn goto_page_btn col-md-6" data-page="resume"><i class="fa fa-list"></i>Check out my Resume</div>
   <div class="cv_download_btn col-md-6"><a href="#"><i class="fa fa-download"></i>Download my CV</a></div>

   <!-- /Home Page -->
</div>
