<div class="main_menu col-md-1">
   <!-- Main Menu -->
   <div class="responsive_menu_btn"><span class="fa fa-bars"></span></div>
   <div class="row">
      <ul>
         <li>
            <a href="" ng-click="goHome()" class="active home"><i class="fa fa-home"></i></a>
         </li>
         <li>
            <a href="" ng-click="goAbout()" class="about"><i class="fa fa-user"></i></a>
         </li>
         <li>
            <a href="" class="resume"><i class="fa fa-tasks"></i></a>
         </li>
         <li>
            <a href="" class="portfolio"><i class="fa fa-picture-o"></i></a>
         </li>
         <li>
            <a href="" class="blog"><i class="fa fa-list"></i></a>
         </li>
         <li>
            <a href="" class="contact"><i class="fa fa-envelope"></i></a>
         </li>
      </ul>
   </div>
   <!-- /Main Menu -->
</div>
