<div id="portfolio" class="col-md-12">
<!-- Portfolio Page -->

<h1 class="page_title title color"><span class="text">Portfolio</span></h1>

<div class="row">
<!-- Description -->
<div class="page_info col-md-12">
   Lorem ipsum dolor sit amet, consectetur
   adipiscing elit. Praesent condimentum sed elit
   vitae tristique. Aliquam erat volutpat. Nunc sit
   amet cursus libero. In fringilla egestas ornare.
</div>
<!-- /Description -->

<!-- Portfolio Items Type Selector -->
<ul class="portfolio_selector col-md-12">
   <li class="filter active btn" data-filter="all">All</li>
   <li class="filter btn" data-filter="webdesign">Web Design</li>
   <li class="filter btn" data-filter="webdevelopment">Web Development</li>
   <li class="filter btn" data-filter="logodesign">Logo Design</li>
</ul>
<!-- /Portfolio Items Type Selector -->

<!-- Portfolio Items -->
<ul class="portfolio_grid col-md-12">
<li class="mix webdesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_1.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_1_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix webdesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_2.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-video-camera licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top video">
         <iframe width="560" height="315" src="http://www.youtube.com/embed/iqrxWXx_elE?wmode=transparent" style="border:none;" allowfullscreen></iframe>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix webdevelopment">
   <a href="#portfolio_popup">
      <img src="img/portfolio_3.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-video-camera licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top video">
         <iframe width="560" height="315" src="http://player.vimeo.com/video/83436955?title=0&amp;byline=0&amp;portrait=0&amp;color=f52a2d" style="border:none;" allowfullscreen></iframe>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix logodesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_4.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_4_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix webdevelopment">
   <a href="#portfolio_popup">
      <img src="img/portfolio_5.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_5_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix logodesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_6.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_6_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix webdesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_7.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_7_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix logodesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_8.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_8_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix logodesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_9.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_9_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix webdevelopment">
   <a href="#portfolio_popup">
      <img src="img/portfolio_5.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_5_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix logodesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_6.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_6_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="mix webdesign">
   <a href="#portfolio_popup">
      <img src="img/portfolio_1.jpg" alt="img" />
      <div class="main">
         <div class="inner">
            <i class="fa fa-picture-o licon"></i>
            <i class="fa fa-search ricon"></i>
         </div>
      </div>
   </a>
   <div class="popup_information">
      <div class="top">
         <img src="img/portfolio_1_r.jpg" alt="img"/>
      </div>
      <div class="bottom">
         <h3 class="title">Project Title</h3>
         <ul class="details">
            <li>Client: Client Name</li>
            <li>Date: 5-10-2013</li>
         </ul>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <div class="line">
            <a href="#">Go to project</a>
            <div class="share">
               <span>or share it</span>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-youtube"></a>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</li>
<li class="gap"></li>
</ul>
<!-- /Portfolio Items -->
</div>

<div id="portfolio_popup" class="zoom-anim-dialog mfp-hide"></div>
<div class="clear"></div>
<!-- /Portfolio Page -->
</div>
