<div class ="fluidHeight">
   <div class ="sliderContainer">
      <div class = "iosSlider">
         <div class = "slider">
            <div class = "item" ng-repeat="image in images" style="background-size: cover;">
               <div class = "caption">
                  <span>
                     <strong>{{image.uploadedOn}}</strong>
                     <b>{{image.size}}</b>
                  </span>
                  <div class = "bg"><img ng-src="{{image.url}}"/> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="iosSliderButtons">
         <div class="button" ng-class="{first : $index == 0 }" ng-repeat="image in images"
              style="background: url({{image.thumbnail}}) no-repeat 0 -10px;background-size: cover;">
            <div class = "border"></div>
         </div>
      </div>
   </div>
</div>