<div class="main_menu col-md-1">
   <!-- Main Menu -->
   <div class="responsive_menu_btn"><span class="fa fa-bars"></span></div>
   <div class="row">
      <ul>
         <li>
            <a href="#home" class="active home" data-id="1"><i class="fa fa-home"></i></a>
         </li>
         <li>
            <a href="#about" class="about" data-id="2"><i class="fa fa-user"></i></a>
         </li>
         <li>
            <a href="#resume" class="resume" data-id="3"><i class="fa fa-tasks"></i></a>
         </li>
         <li>
            <a href="#portfolio" class="portfolio" data-id="4"><i class="fa fa-picture-o"></i></a>
         </li>
         <li>
            <a href="#blog" class="blog" data-id="5"><i class="fa fa-list"></i></a>
         </li>
         <li>
            <a href="#contact" class="contact" data-id="6"><i class="fa fa-envelope"></i></a>
         </li>
      </ul>
   </div>
   <!-- /Main Menu -->
</div>
