<div class="content">
    <h1>New Post: {{post.topic}}</h1>
    <form area="Admin" action="/#/admin/posts/{{post.urlLink}}" method="post" novalidate="novalidate">
        <div class="form-body">
            <div class="editor-label">
                <label for="Name">SLUG</label>
            </div>
            <div class="editor-field">
                <input class="medium" id="Name" maxlength="200" name="Name" type="text" ng-model="post.urlLink">
                <span><a href="#/posts/{{post.urlLink}}">{{post.urlLink}}</a></span>
                <span class="field-validation-valid"></span>
                <span class="hint">This will form the URL to your page.</span>
            </div>

            <div class="editor-label">
                <label for="Title">Title</label>
            </div>
            <div class="editor-field">
                <input class="medium" id="Title" maxlength="200" name="Title" type="text" ng-model="post.topic">
                <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                <span class="hint">This appears at the top of this page and on the home page.</span>
            </div>

            <div class="editor-label">
                <label for="MetaTitle">Meta-Title</label>
            </div>
            <div class="editor-field">
                <input class="medium" maxlength="255" id="MetaTitle" name="MetaTitle" type="text" ng-model="post.metaTitle">
                <span class="hint">This appears at the top of the browser tab and is used by search engines.</span>
            </div>

            <div class="editor-label">
                <label for="summary">Summary</label>
            </div>
            <div class="editor-field">
                <textarea class="large" ng-model="post.summary" cols="20" id="summary"
                          maxlength="1000" name="summary" rows="2">
                </textarea>
                <span class="field-validation-valid"></span>
                <span class="hint">An introduction that will appear at the top or right of the page. Use markdown or HTML.</span>
            </div>

            <div class="editor-label">
                <label for="upload">Upload</label>
            </div>
            <div class="editor-field">
                <span><a id="upload" href="/#/admin/files/" target="_blank">Click here to upload files...</a></span>
            </div>
            <div class="editor-label">
                <label for="DisableComments">Disable Comments</label>
            </div>
            <div class="editor-field">
                <input class="" id="DisableComments" name="DisableComments" type="checkbox" ng-model="post.disableComment"/>
                <span class="field-validation-valid"></span>
                <span class="hint">If checked, users will not be able to post comments on this page</span>
            </div>
            <br>

            <div class="editor-label">
                <label for="status">Status</label>
            </div>
            <div class="editor-field" id="status">
                <div>
                    <input  ng-model="post.status" type="radio" value="draft"/>
                    <abbr title="Draft copy of the post before publishing">Draft</abbr>
                </div>
                <div><input ng-model="post.status" type="radio" value="public">
                    <abbr title="Anyone can see this page, it will appear on the home page and in the RSS feed">
                        Public (Blog Post)
                    </abbr>
                </div>
            </div>
            <div class="editor-label">
                <label for="content">Content</label>
            </div>
            <div class="editor-field" id="content" style="background-color: White;">
                <div markdown-editor content="post.body"></div>
            </div>
            <div class="editor-label">
            </div>
            <div class="editor-field">
                <input type="button" ng-click="save(post)" value="Save!">
            </div>
            <h3>Preview</h3>
            <div id="wmd-preview" class="wmd-panel">
                <span ng-bind-html-unsafe="markDown(post.body)"></span>
            </div>
        </div>
    </form>
</div>
