<div class="content">

    <h2>
        Directory Listing:
        / <a href="/upload">Home</a></h2>

    <div>
        <table>
            <thead>
            <tr>
                <td></td>
                <td style="min-width: 300px">Name</td>
                <td>Extension</td>
                <td>Size</td>
                <td>Modified</td>
                <td>Actions</td>
            </tr>
            </thead>

            <tbody>
            <!--<tr>-->
                <!--<td><img width="16" height="16" ng-src="/Content/Images/FileTypes/{{}}" alt=".PNG"></td>-->
                <!--<td class="firstcolumn">-->
                    <!--<a href="/get/BlogModel.PNG">BlogModel.PNG</a>        </td>-->
                <!--<td>.PNG</td>-->
                <!--<td class="numeric">8.00 KB</td>-->
                <!--<td class="date">19-Sep-2012</td>-->
                <!--<td>-->
                    <!--<a href="/upload/Delete?filePath=%2FBlogModel.PNG">Delete</a>-->
                <!--</td>-->
            <!--</tr>-->
            <tr ng-repeat="file in files">
                <td><img width="16" height="16" src="/public/FileTypes/{{file.fileTypeIcon}}" alt=".{{file.extension}}"></td>
                <td class="firstcolumn">
                    <a href="/get/{{file.name}}">{{file.name}}</a>
                </td>
                <td>.{{file.extension}}</td>
                <td class="numeric">{{file.size}}</td>
                <td class="date">{{file.uploadedOn}}</td>
                <td>
                    <a ng-href="/delete?filePath={{file.name + '.' + file.extension}}">Delete</a>
                </td>
            </tr>
            </tbody></table>
    </div>

    <h2>Upload</h2>

    <form area="Admin" action="/files" enctype="multipart/form-data" method="post" novalidate="novalidate">
        <div id="upload-container">
        <div>
            <input class="upload" type="file" name="uploadFile">
            &nbsp;
            <input type="checkbox" name="unzipUpload" id="unzipUpload" title="unzip" value="true">
            <label for="unzipUpload">unzip</label>
            &nbsp;
            <a class="delete-upload" title="delete">delete</a>
        </div>
    </div>
        <input type="submit" value="Upload">
    </form>
    <h2>Create Directory</h2>

    <form area="Admin" action="/folders" enctype="multipart/form-data" method="post" novalidate="novalidate">
        <input type="text" name="name">
        <input type="submit" value="Create">
    </form>
    Current Storage Provider: Filesystem

</div>