<div class="content">

    <h1>Page List</h1>

    <p>
        Here is a list of all of the pages in your site
    </p>

    <h3>Public-Blog</h3>
    <p>Anyone can see these pages, and they will appear in the main RSS feed as well as on the home page.</p>
    <table>
        <thead>
        <tr>
            <td><a href="/#/admin/posts?sort=Slug&amp;asc=True">SLUG</a></td>
            <td><a href="/#/admin/posts?sort=Title&amp;asc=True">Title</a></td>
            <td><a href="/#/admin/posts?sort=Comments&amp;asc=True">Comments</a></td>
            <td><a href="/#/admin/posts?sort=Published&amp;asc=True">Published</a></td>
            <td>Revision</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in posts">
            <td><a ng-href="/#/posts/{{post.urlLink}}" title="View this page">{{post.urlLink}}</a></td>
            <td><a ng-href="/#/admin/posts/{{post.urlLink}}" title="Edit this page">{{post.topic}}</a></td>
            <td>
                <a ng-disabled="post.comments.length == 0" ng-href="/#/{{post.urlLink}}#comments">
                    <span ng-if="post.comments.length > 1"  class="comment-count">{{post.comments.length}} comments</span>
                    <span ng-if="!post.comments || post.comments.length == 0">no comment</span>
                    <span ng-if="post.comments.length == 1">one comment</span>
                </a>
            </td>
            <td><span class="date">{{post.createdOn | dateFormat}}</span></td>
            <td><span class="date">{{(post.updatedOn || post.createdOn) | dateFormat:'short'}}</span> (<a href="/#/history-of/{{post.urlLink}}">History</a>)</td>
            <td>
                <span>
                    <button type="button" ng-click="deletePost(post.id)">Delete</button>
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</div>