<header>
    <a title="The Law of the Jungle" href="/#!/" class="logo">The Law of the Jungle</a>
    <div>
        <nav>
            <ul>
                <li><a href="/#!/">Home</a></li>
                <li><a href="/#!/posts/latest">Latest Blog</a></li>
                <li><a href="https://www.github.com/JeffJin">GitHub</a></li>
                <li><a href="/#!/games">Games</a></li>
                <li><a href="/#!/images">Albums</a></li>
                <li><a href="/#!/admin/">Login</a></li>
            </ul>
        </nav>
        <jj-search-form></jj-search-form>
    </div>
</header>