<header>
    <a title="The Law of the Jungle" href="/#!/" class="logo">The Law of the Jungle</a>
    <div>
        <nav>
            <ul>
                <li><a href="/#!/">Home</a></li>
                <li><a href="/#!/posts/latest">Latest Blog</a></li>
                <li><a href="https://www.github.com/JeffJin">Projects</a></li>
                <li><a href="https://www.fishoverflow.com">Games</a></li>
                <li><a href="/#!/admin/">Admin</a></li>
            </ul>
        </nav>
        <div class="search" ng-controller="BlogSearchCtrl">
            <form novalidate="novalidate">
                <p>
                    <!--Setup ng keydown event for 'Enter' to search-->
                    <input type="text" value="" ng-model="keyword" class="medium" ng-enter="search(keyword)" placeholder="title or keywords" alt="Search">
                    <input type="button" ng-disabled="!keyword || keyword.length < 3" ng-click="search(keyword)" value="Search" class="submit" id="search">
                </p>
            </form>
        </div>
    </div>
</header>