<e-main-menu></e-main-menu>

<!-- Main Content -->
<div class="main_content col-md-10">
<div class="content col-md-12">

<!-- Blog Page -->
<div id="blog" class="col-md-12">
<h1 class="title color"><span class="text">Blog</span></h1>

<!-- Blog Posts -->
<div class="blog_posts left_side col-md-8 alpha">
<div class="back_to_blog btn">Back to blog</div>

<!-- Blog Post -->
<div class="post anim_element" data-animation="flipInX">
   <div class="media">
      <div class="btns">
         <div class="fa fa-caret-left left_btn"></div>
         <div class="fa fa-caret-right right_btn"></div>
         <div class="clear"></div>
      </div>
      <div class="media_slideshow cycle-slideshow" data-cycle-speed="1000" data-cycle-timeout="4000">
         <img src="img/blog_img1.jpg" alt="img" />
         <img src="img/blog_img2.jpg" alt="img" />
         <img src="img/blog_img5.jpg" alt="img" />
      </div>
   </div>
   <div class="post_data">
      <div class="box_title title">
         <div class="icon"><i class="fa fa-picture-o"></i></div>
         <div class="text"><a href="#" class="read_more_btn">Lorem ipsum dolor sit amet</a></div>
         <div class="clear"></div>
      </div>
      <div class="info">
         <div class="meta user">
            <i class="fa fa-user"></i><span><a href="#">user</a></span>
         </div>
         <div class="meta date">
            <i class="fa fa-calendar"></i><span>2 hours ago</span>
         </div>
         <div class="meta tags">
            <i class="fa fa-tags"></i><span><a href="#">web</a>, <a href="#">design</a></span>
         </div>
         <div class="meta comments">
            <i class="fa fa-comments-o"></i><span>10</span>
         </div>
      </div>
      <div class="preview_body body">
         Lorem ipsum dolor sit amet, consectetur
         adipiscing elit. Praesent condimentum sed elit
         vitae tristique. Aliquam erat volutpat. Nunc sit
         amet cursus libero. In fringilla egestas ornare.
      </div>
      <div class="hidden_body body">
         <div class="body">
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
         </div>
         <div class="about_author">
            <div class="title">About Author</div>
            <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
            <div class="text col-sm-10 col-xs-10">
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </div>
            <div class="clear"></div>
         </div>
         <div class="post_comments">
            <div class="box_title title">
               <div class="icon"><i class="fa fa-comments-o"></i></div>
               <div class="text">5 Comments</div>
               <div class="clear"></div>
            </div>
            <div class="comments">
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="comment_form">
               <div class="box_title title">
                  <div class="icon"><i class="fa fa-comment-o"></i></div>
                  <div class="text">Add a Comment</div>
                  <div class="clear"></div>
               </div>
               <div class="form">
                  <input type="text" name="name" class="name" value="" placeholder="Name *" />
                  <input type="email" name="email" class="email" value="" placeholder="Email *" />
                  <input type="text" name="website" class="website" value="" placeholder="Website" />
                  <textarea name="comment_body" placeholder="Your Comment" class="comment_body"></textarea>
                  <div class="btn post_comment_btn">Post Comment</div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="btns">
         <a href="#" class="btn read_more_btn">Read More</a>
         <div class="social_btns">
            <a href="#" class="btn fa fa-twitter"></a>
            <a href="#" class="btn fa fa-facebook"></a>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<!-- /Blog Post -->

<!-- Blog Post -->
<div class="post anim_element" data-animation="flipInX">
   <div class="media video">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/iqrxWXx_elE?wmode=transparent" style="border:none;" allowfullscreen></iframe>
   </div>
   <div class="post_data">
      <div class="box_title title">
         <div class="icon"><i class="fa fa-film"></i></div>
         <div class="text"><a href="#" class="read_more_btn">Lorem ipsum dolor sit amet</a></div>
         <div class="clear"></div>
      </div>
      <div class="info">
         <div class="meta user">
            <i class="fa fa-user"></i><span><a href="#">user</a></span>
         </div>
         <div class="meta date">
            <i class="fa fa-calendar"></i><span>2 hours ago</span>
         </div>
         <div class="meta tags">
            <i class="fa fa-tags"></i><span><a href="#">web</a>, <a href="#">design</a></span>
         </div>
         <div class="meta comments">
            <i class="fa fa-comments-o"></i><span>10</span>
         </div>
      </div>
      <div class="preview_body body">
         Lorem ipsum dolor sit amet, consectetur
         adipiscing elit. Praesent condimentum sed elit
         vitae tristique. Aliquam erat volutpat. Nunc sit
         amet cursus libero. In fringilla egestas ornare.
      </div>
      <div class="hidden_body body">
         <div class="body">
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
         </div>
         <div class="about_author">
            <div class="title">About Author</div>
            <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
            <div class="text col-sm-10 col-xs-10">
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </div>
            <div class="clear"></div>
         </div>
         <div class="post_comments">
            <div class="box_title title">
               <div class="icon"><i class="fa fa-comments-o"></i></div>
               <div class="text">5 Comments</div>
               <div class="clear"></div>
            </div>
            <div class="comments">
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="comment_form">
               <div class="box_title title">
                  <div class="icon"><i class="fa fa-comment-o"></i></div>
                  <div class="text">Add a Comment</div>
                  <div class="clear"></div>
               </div>
               <div class="form">
                  <input type="text" name="name" class="name" value="" placeholder="Name *" />
                  <input type="email" name="email" class="email" value="" placeholder="Email *" />
                  <input type="text" name="website" class="website" value="" placeholder="Website" />
                  <textarea name="comment_body" placeholder="Your Comment" class="comment_body"></textarea>
                  <div class="btn post_comment_btn">Post Comment</div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="btns">
         <a href="#" class="btn read_more_btn">Read More</a>
         <div class="social_btns">
            <a href="#" class="btn fa fa-twitter"></a>
            <a href="#" class="btn fa fa-facebook"></a>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<!-- /Blog Post -->

<!-- Blog Post -->
<div class="post anim_element" data-animation="flipInX">
   <div class="post_data">
      <div class="box_title title">
         <div class="icon"><i class="fa fa-pencil"></i></div>
         <div class="text"><a href="#" class="read_more_btn">Lorem ipsum dolor sit amet</a></div>
         <div class="clear"></div>
      </div>
      <div class="info">
         <div class="meta user">
            <i class="fa fa-user"></i><span><a href="#">user</a></span>
         </div>
         <div class="meta date">
            <i class="fa fa-calendar"></i><span>2 hours ago</span>
         </div>
         <div class="meta tags">
            <i class="fa fa-tags"></i><span><a href="#">web</a>, <a href="#">design</a></span>
         </div>
         <div class="meta comments">
            <i class="fa fa-comments-o"></i><span>10</span>
         </div>
      </div>
      <div class="preview_body body">
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
      </div>
      <div class="hidden_body body">
         <div class="body">
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
         </div>
         <div class="about_author">
            <div class="title">About Author</div>
            <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
            <div class="text col-sm-10 col-xs-10">
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </div>
            <div class="clear"></div>
         </div>
         <div class="post_comments">
            <div class="box_title title">
               <div class="icon"><i class="fa fa-comments-o"></i></div>
               <div class="text">5 Comments</div>
               <div class="clear"></div>
            </div>
            <div class="comments">
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="comment_form">
               <div class="box_title title">
                  <div class="icon"><i class="fa fa-comment-o"></i></div>
                  <div class="text">Add a Comment</div>
                  <div class="clear"></div>
               </div>
               <div class="form">
                  <input type="text" name="name" class="name" value="" placeholder="Name *" />
                  <input type="email" name="email" class="email" value="" placeholder="Email *" />
                  <input type="text" name="website" class="website" value="" placeholder="Website" />
                  <textarea name="comment_body" placeholder="Your Comment" class="comment_body"></textarea>
                  <div class="btn post_comment_btn">Post Comment</div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="btns">
         <a href="#" class="btn read_more_btn">Read More</a>
         <div class="social_btns">
            <a href="#" class="btn fa fa-twitter"></a>
            <a href="#" class="btn fa fa-facebook"></a>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<!-- /Blog Post -->

<!-- Blog Post -->
<div class="post anim_element" data-animation="flipInX">
   <div class="media video">
      <iframe width="560" height="315" src="http://player.vimeo.com/video/83436955?title=0&amp;byline=0&amp;portrait=0&amp;color=f52a2d" style="border:none;" allowfullscreen></iframe>
   </div>
   <div class="post_data">
      <div class="box_title title">
         <div class="icon"><i class="fa fa-film"></i></div>
         <div class="text"><a href="#" class="read_more_btn">Lorem ipsum dolor sit amet</a></div>
         <div class="clear"></div>
      </div>
      <div class="info">
         <div class="meta user">
            <i class="fa fa-user"></i><span><a href="#">user</a></span>
         </div>
         <div class="meta date">
            <i class="fa fa-calendar"></i><span>2 hours ago</span>
         </div>
         <div class="meta tags">
            <i class="fa fa-tags"></i><span><a href="#">web</a>, <a href="#">design</a></span>
         </div>
         <div class="meta comments">
            <i class="fa fa-comments-o"></i><span>10</span>
         </div>
      </div>
      <div class="preview_body body">
         Lorem ipsum dolor sit amet, consectetur
         adipiscing elit. Praesent condimentum sed elit
         vitae tristique. Aliquam erat volutpat. Nunc sit
         amet cursus libero. In fringilla egestas ornare.
      </div>
      <div class="hidden_body body">
         <div class="body">
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
         </div>
         <div class="about_author">
            <div class="title">About Author</div>
            <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
            <div class="text col-sm-10 col-xs-10">
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </div>
            <div class="clear"></div>
         </div>
         <div class="post_comments">
            <div class="box_title title">
               <div class="icon"><i class="fa fa-comments-o"></i></div>
               <div class="text">5 Comments</div>
               <div class="clear"></div>
            </div>
            <div class="comments">
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="comment_form">
               <div class="box_title title">
                  <div class="icon"><i class="fa fa-comment-o"></i></div>
                  <div class="text">Add a Comment</div>
                  <div class="clear"></div>
               </div>
               <div class="form">
                  <input type="text" name="name" class="name" value="" placeholder="Name *" />
                  <input type="email" name="email" class="email" value="" placeholder="Email *" />
                  <input type="text" name="website" class="website" value="" placeholder="Website" />
                  <textarea name="comment_body" placeholder="Your Comment" class="comment_body"></textarea>
                  <div class="btn post_comment_btn">Post Comment</div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="btns">
         <a href="#" class="btn read_more_btn">Read More</a>
         <div class="social_btns">
            <a href="#" class="btn fa fa-twitter"></a>
            <a href="#" class="btn fa fa-facebook"></a>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<!-- /Blog Post -->

<!-- Blog Post -->
<div class="post anim_element" data-animation="flipInX">
   <div class="media">
      <img src="img/blog_img5.jpg" alt="img" />
   </div>
   <div class="post_data">
      <div class="box_title title">
         <div class="icon"><i class="fa fa-picture-o"></i></div>
         <div class="text"><a href="#" class="read_more_btn">Lorem ipsum dolor sit amet</a></div>
         <div class="clear"></div>
      </div>
      <div class="info">
         <div class="meta user">
            <i class="fa fa-user"></i><span><a href="#">user</a></span>
         </div>
         <div class="meta date">
            <i class="fa fa-calendar"></i><span>2 hours ago</span>
         </div>
         <div class="meta tags">
            <i class="fa fa-tags"></i><span><a href="#">web</a>, <a href="#">design</a></span>
         </div>
         <div class="meta comments">
            <i class="fa fa-comments-o"></i><span>10</span>
         </div>
      </div>
      <div class="preview_body body">
         Lorem ipsum dolor sit amet, consectetur
         adipiscing elit. Praesent condimentum sed elit
         vitae tristique. Aliquam erat volutpat. Nunc sit
         amet cursus libero. In fringilla egestas ornare.
      </div>
      <div class="hidden_body body">
         <div class="body">
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
         </div>
         <div class="about_author">
            <div class="title">About Author</div>
            <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
            <div class="text col-sm-10 col-xs-10">
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </div>
            <div class="clear"></div>
         </div>
         <div class="post_comments">
            <div class="box_title title">
               <div class="icon"><i class="fa fa-comments-o"></i></div>
               <div class="text">5 Comments</div>
               <div class="clear"></div>
            </div>
            <div class="comments">
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="comment_form">
               <div class="box_title title">
                  <div class="icon"><i class="fa fa-comment-o"></i></div>
                  <div class="text">Add a Comment</div>
                  <div class="clear"></div>
               </div>
               <div class="form">
                  <input type="text" name="name" class="name" value="" placeholder="Name *" />
                  <input type="email" name="email" class="email" value="" placeholder="Email *" />
                  <input type="text" name="website" class="website" value="" placeholder="Website" />
                  <textarea name="comment_body" placeholder="Your Comment" class="comment_body"></textarea>
                  <div class="btn post_comment_btn">Post Comment</div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="btns">
         <a href="#" class="btn read_more_btn">Read More</a>
         <div class="social_btns">
            <a href="#" class="btn fa fa-twitter"></a>
            <a href="#" class="btn fa fa-facebook"></a>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<!-- /Blog Post -->

<!-- Blog Post -->
<div class="post anim_element" data-animation="flipInX">
   <div class="post_data">
      <div class="box_title title">
         <div class="icon"><i class="fa fa-quote-left"></i></div>
         <div class="text"><a href="#" class="read_more_btn">Lorem ipsum dolor sit amet</a></div>
         <div class="clear"></div>
      </div>
      <div class="info">
         <div class="meta user">
            <i class="fa fa-user"></i><span><a href="#">user</a></span>
         </div>
         <div class="meta date">
            <i class="fa fa-calendar"></i><span>2 hours ago</span>
         </div>
         <div class="meta tags">
            <i class="fa fa-tags"></i><span><a href="#">web</a>, <a href="#">design</a></span>
         </div>
         <div class="meta comments">
            <i class="fa fa-comments-o"></i><span>10</span>
         </div>
      </div>
      <div class="preview_body body">
         <i class="fa fa-quote-left"></i>
         Lorem ipsum dolor sit amet, consectetur
         adipiscing elit. Praesent condimentum sed elit
         vitae tristique. Aliquam erat volutpat. Nunc sit
         amet cursus libero. In fringilla egestas ornare.
         <i class="fa fa-quote-right"></i>
      </div>
      <div class="hidden_body body">
         <div class="body">
            <p>
               <i class="fa fa-quote-left"></i>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
               <i class="fa fa-quote-right"></i>
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </p>
         </div>
         <div class="about_author">
            <div class="title">About Author</div>
            <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
            <div class="text col-sm-10 col-xs-10">
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique. Aliquam erat volutpat. Nunc sit
               amet cursus libero. In fringilla egestas ornare.
            </div>
            <div class="clear"></div>
         </div>
         <div class="post_comments">
            <div class="box_title title">
               <div class="icon"><i class="fa fa-comments-o"></i></div>
               <div class="text">5 Comments</div>
               <div class="clear"></div>
            </div>
            <div class="comments">
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="comment">
                  <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                  <div class="text col-sm-10 col-xs-10">
                     <div class="name">John Doe</div>
                     <div class="date">12, September, 2013</div>
                     Lorem ipsum dolor sit amet, consectetur
                     adipiscing elit. Praesent condimentum sed elit
                     vitae tristique. Aliquam erat volutpat. Nunc sit
                     amet cursus libero. In fringilla egestas ornare.
                  </div>
                  <div class="comment sub col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                     <img src="img/avatar.jpg" class="col-sm-2 col-xs-2" alt="img" />
                     <div class="text col-sm-10 col-xs-10">
                        <div class="name">John Doe</div>
                        <div class="date">12, September, 2013</div>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Praesent condimentum sed elit
                        vitae tristique. Aliquam erat volutpat. Nunc sit
                        amet cursus libero. In fringilla egestas ornare.
                     </div>
                     <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="comment_form">
               <div class="box_title title">
                  <div class="icon"><i class="fa fa-comment-o"></i></div>
                  <div class="text">Add a Comment</div>
                  <div class="clear"></div>
               </div>
               <div class="form">
                  <input type="text" name="name" class="name" value="" placeholder="Name *" />
                  <input type="email" name="email" class="email" value="" placeholder="Email *" />
                  <input type="text" name="website" class="website" value="" placeholder="Website" />
                  <textarea name="comment_body" placeholder="Your Comment" class="comment_body"></textarea>
                  <div class="btn post_comment_btn">Post Comment</div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="btns">
         <a href="#" class="btn read_more_btn">Read More</a>
         <div class="social_btns">
            <a href="#" class="btn fa fa-twitter"></a>
            <a href="#" class="btn fa fa-facebook"></a>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</div>
<!-- /Blog Post -->

<div class="load_more_posts btn">Load More</div>
</div>
<!-- Blog Posts -->

<!-- Sidebar -->
<div class="sidebar right_side col-md-4 omega">

   <!-- Search Bar -->
   <div class="search_bar">
      <input type="text" name="query" value="" placeholder="Search" class="search_input" />
      <i class="fa fa-search"></i>
   </div>
   <!-- /Search Bar -->

   <!-- Categories -->
   <div class="categories">
      <div class="title color"><span class="text">Categories</span></div>
      <div class="categories">
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Web Design</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Web Development</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Graphic Design</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">UI Design</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Logo Design</a></span>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <!-- /Categories -->

   <!-- Tabs -->
   <div class="tabs">
      <div class="title color"><span class="text">Tabs</span></div>
      <div class="tabs">
         <div class="tabs_menu">
            <a href="#popular" class="active">Popular</a>
            <a href="#recent">Recent</a>
            <a href="#comments">Comments</a>
            <div class="clear"></div>
         </div>
         <div class="tabs_body">
            <div id="popular" class="items active">
               <div class="item">
                  <img src="img/blog_img1.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="item">
                  <img src="img/blog_img2.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="item">
                  <img src="img/blog_img5.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="clear"></div>
            </div>
            <div id="recent" class="items">
               <div class="item">
                  <img src="img/blog_img2.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="item">
                  <img src="img/blog_img1.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="item">
                  <img src="img/blog_img5.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="clear"></div>
            </div>
            <div id="comments" class="items">
               <div class="item">
                  <img src="img/blog_img5.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="item">
                  <img src="img/blog_img2.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="item">
                  <img src="img/blog_img1.jpg" alt="img" />
													<span class="body">
														<a href="#">Lorem ipsum dolor sit</a>
														Lorem ipsum dolor sit amet, consectetur...
													</span>
               </div>
               <div class="clear"></div>
            </div>
            <div class="clear"></div>
         </div>
      </div>
   </div>
   <!-- /Tabs -->

   <!-- Archive -->
   <div class="archive">
      <div class="title color"><span class="text">Archive</span></div>
      <div class="categories">
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Web Design</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Web Development</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Graphic Design</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">UI Design</a></span>
         </div>
         <div class="item">
            <i class="fa fa-circle"></i>
            <span class="text"><a href="#">Logo Design</a></span>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <!-- /Archive -->

   <!-- About -->
   <div class="about">
      <div class="title color"><span class="text">About</span></div>
      <div class="text">
         Lorem ipsum dolor sit amet, consectetur
         adipiscing elit. Praesent condimentum sed elit
         vitae tristique. Aliquam erat volutpat. Nunc sit
         amet cursus libero. In fringilla egestas ornare.
      </div>
   </div>
   <!-- /About -->

   <!-- Tags -->
   <div class="tags">
      <div class="title color"><span class="text">Tags</span></div>
      <a href="#" class="btn">web</a>
      <a href="#" class="btn">design</a>
      <a href="#" class="btn">iOS</a>
      <a href="#" class="btn">HTML</a>
      <a href="#" class="btn">CSS</a>
      <a href="#" class="btn">jQuery</a>
      <a href="#" class="btn">Wordpress</a>
      <div class="clear"></div>
   </div>
   <!-- /Tags -->

   <!-- Tweets -->
   <div class="blog_tweets tweets">
      <div class="title color"><span class="text">Tweets</span></div>
      <div class="tweets"></div>
   </div>
   <!-- /Tweets -->
</div>
<!-- /Sidebar -->
<div class="clear"></div>

</div>
<!-- /Blog Page -->

<input type="hidden" value="" id="hdn_page_id" />

</div>
<div class="clear"></div>
</div>
<!-- /Main Content -->

<e-social-buttons></e-social-buttons>