<e-main-menu></e-main-menu>

<!-- Main Content -->
<div class="main_content col-md-10">
   <div class="content col-md-12">

      <!-- Contact Page -->
      <div id="contact" class="col-md-12">
         <h1 class="title color"><span class="text">Contact</span></h1>

         <!-- Description -->
         <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent condimentum sed elit
            vitae tristique. Aliquam erat volutpat. Nunc sit
            amet cursus libero. In fringilla egestas ornare.
         </p>
         <!-- /Description -->

         <!-- Google Map -->
         <div id="gmap"></div>
         <!-- /Google Map -->

         <!-- Info -->
         <div class="contact_info">
            <div class="user col-md-4">
               <div class="row">
                  <i class="fa fa-user"></i>
                  <span>John Doe</span>
               </div>
            </div>
            <div class="user col-md-4">
               <div class="row">
                  <i class="fa fa-map-marker"></i>
                  <span>New York City</span>
               </div>
            </div>
            <div class="user col-md-4">
               <div class="row">
                  <i class="fa fa-envelope"></i>
                  <span>john@site.com</span>
               </div>
            </div>
            <div class="clear"></div>
         </div>
         <!-- /Info -->

         <!-- Contact Form -->
         <div class="contact_form_outer">
            <h1 class="title color"><span class="text">Email Me</span></h1>
            <p>
               Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Praesent condimentum sed elit
               vitae tristique.
            </p>
            <div class="contact_form">
               <input type="text" value="" placeholder="Your Name" class="name" />
               <input type="email" value="" placeholder="Your Email" class="email" />
               <textarea class="message" placeholder="Your Message"></textarea>
               <input type="button" value="Send Message" class="btn send_message_btn" name="submit" />
               <span class="message"></span>
            </div>
         </div>
         <!-- /Contact Form -->

         <!-- Social Buttons -->
         <div class="contact_social_btns">
            <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
            <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
            <a href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a>
            <a href="#"><i class="fa fa-youtube"></i><span>YouTube</span></a>
            <a href="#"><i class="fa fa-github"></i><span>Github</span></a>
            <a href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a>
            <a href="#"><i class="fa fa-flickr"></i><span>Flickr</span></a>
            <a href="#"><i class="fa fa-tumblr"></i><span>Tumblr</span></a>
            <a href="#"><i class="fa fa-vk"></i><span>VK</span></a>
            <a href="#"><i class="fa fa-skype"></i><span>Skype</span></a>
            <a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
            <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
         </div>
         <!-- /Social Buttons -->

      </div>
      <!-- /Contact Page -->

      <input type="hidden" value="" id="hdn_page_id" />

   </div>
   <div class="clear"></div>
</div>
<!-- /Main Content -->

<e-social-buttons></e-social-buttons>