<e-main-menu></e-main-menu>

<!-- Main Content -->
<div class="main_content col-md-10">
<div class="content col-md-12">

<!-- Home Page -->
<e-home></e-home>
<!-- /Home Page -->

<!-- About Page -->
<e-about></e-about>
<!-- /About Page -->

<!-- Resume Page -->
<e-resume></e-resume>
<!-- /Resume Page -->

<!-- Portfolio Page -->
<e-portfolio></e-portfolio>
<!-- /Portfolio Page -->

<!-- Blog Page -->
<e-blog></e-blog>
<!-- /Blog Page -->

<!-- Contact Page -->
<e-contact></e-contact>
<!-- /Contact Page -->

<input type="hidden" value="" id="hdn_page_id" />

</div>
<div class="clear"></div>
</div>
<!-- /Main Content -->

<e-social-buttons></e-social-buttons>