<e-main-menu></e-main-menu>

<!-- Main Content -->
<div class="main_content col-md-10">
   <div class="content col-md-12">

      <!-- Home Page -->
      <e-home></e-home>
      <!-- /Home Page -->

      <!-- About Page -->
      <e-about></e-about>
      <!-- /About Page -->

      <!--&lt;!&ndash; Resume Page &ndash;&gt;-->
      <!--<e-resume></e-resume>-->
      <!--&lt;!&ndash; /Resume Page &ndash;&gt;-->

      <!--&lt;!&ndash; Portfolio Page &ndash;&gt;-->
      <!--<e-portfolio></e-portfolio>-->
      <!--&lt;!&ndash; /Portfolio Page &ndash;&gt;-->

      <!--&lt;!&ndash; Blog Page &ndash;&gt;-->
      <!--<e-blog></e-blog>-->
      <!--&lt;!&ndash; /Blog Page &ndash;&gt;-->

      <!--&lt;!&ndash; Contact Page &ndash;&gt;-->
      <!--<e-contact></e-contact>-->
      <!--&lt;!&ndash; /Contact Page &ndash;&gt;-->

      <input type="hidden" value="" id="hdn_page_id" />

   </div>
   <div class="clear"></div>
</div>
<!-- /Main Content -->

<e-social-buttons></e-social-buttons>